*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    text-align: none;
    margin: 20px;   
    padding: 20px;
    border: 2px solid green;
}
h1{
    
}
h2{
    border: 2px solid blue;
    text-align: center;
}
span{
    color: red;
}

.btn{
    background-color: aqua;
}
a{
    text-decoration: none;
    color: red;
    animation: changeColor 2s infinite;
}
.imgReact{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
    animation: changeColor 3s infinite;
    animation: MovingLogo 3s infinite;
}
.imgReact:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

@keyframes changeColor {
    0% { color: rgb(157, 0, 255); }
    50% { color: blue; }
    100% { color: rgb(255, 0, 123); }
}
@keyframes MovingLogo {
    0% { transform: rotate(180deg); }
    50% { transform: rotate(360deg); }
    100% { transform: rotate(720deg); }
}